input.shopSearchField {
	position: relative;
}
input.shopSearchField:hover {
	background:url();
}
input.gosearch {
	position: absolute;
	width: 80px;
	height: 36px;
	background-color: transparent;
	right: 0;
	top: 0;
}
.selectWrapper  select {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #F3F3F3;
	border-radius: 2px;
}
.selectWrapper  select:hover {
	border-bottom-left-radius:0; 
	border-bottom-right-radius:0;
	background-color: #FAFAFA;
}
.selectWrapper  select option {
	border: 0;
}
.view-mode {
	width: 30%;
	height: 30px;
	float: right;
	margin-bottom: 12px;
}
.view-mode a {
	display: inline-block;
	width: 30px;
	height: 35px;
	font-size: 20px;
	color: #E5E5E1;
	text-align: right;
	float: right;
}
.view-mode a.active {
	color: #71CBC1;
}
.view-mode a:hover {
	text-decoration: none;
	color: #71CBC1;
}
.bread-nav {
	height: 33px;
	float: left;
	width: 70%;
}

.bread-nav a {
	display: inline;
}
.bread-nav i {
padding-left: 8px;
padding-right: 8px;
}
.bread-nav code {
padding-left: 1px;
padding-right: 1px;
display: inline;
}


/*产品列表样式覆盖*/
.portfolioOneItemWrapper a {
	display: inline-block;
	width: 34%;
	overflow: hidden;
	float: left;
}
.portfolioOneItemImageWrapper img {
	width: 100px;
	float: left;
	box-sizing:border-box;
	height: 80px;
}
.portfolioOneItemInfoWrapper {
	width:64%;
	height: 80px;
	float: right;
	box-sizing:border-box;
	background-color: #f9f9f9;
	padding-top: 7px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 22px;
}
.portfolioOneItemInfoWrapper h4 {
	margin-bottom: 4px;
}
.portfolioOneItemInfoWrapper h4 a {
	width: 100%;
	font-weight: bold;
}
.portfolioOneItemInfoWrapper span.l-price {
	color: #39998F;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 7px;	
}
.portfolioOneItemButtonsWrapper {
	line-height: 36px;
	background-color: #f6f6f6;
	width: 70%;
	float: left;
	box-sizing: border-box;
}
.list-price {
width: 70px;
height: 36px;
line-height: 36px;
float: left;
padding-left: 10px;
color: #7AC144;
background: #e9e9e9;
padding-right: 12px;
font-size: 18px;
}
.list-cart {
	background-image: none;
	padding-right: 16px;
}
.list-cart:hover{
	background-color: #7AC142;
	color: #fff;
}



/*产品列表样式覆盖end*/


.newpwdsuc {
	color: #fff;
	width: 100%;
}


.radioblock {
	height: 20px;
	position: relative;
}
.radioblock label {
	position: absolute;
	top: -3px;
	left: 20px;

}
.l-bblock {
	margin-bottom: 15px;
}
.pl15 {
	padding-left: 25px;
}
#basicExample {
	margin-top: 10px;
	margin-bottom: 0;
}


/*产品详情样式*/

.l-good-num {
	margin-bottom: 20px;
}